.headerlogo {
    width: 500px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;
}

.logo {
    width: 15%
}